<div layout="rows top-spread">
    {% assign itemsList = collections[group] | sort: 'data.pubDate' | reverse | sort: 'data.order' -%}
    {%- for post in itemsList -%}
    {% if post.data.group == group and post.url != page.url %}

        {% if post.data.link %}
            {% assign postUrl = post.data.link | url %}
        {% else %}
            {% assign postUrl = post.url | url %}
        {% endif %}
        {% assign imageUrl = post.data.coverPreview | url %}

        {% zx 'card' 'image' post.data.title imageUrl postUrl %}
        {{ post.data.description }}
        {% endzx %}

    {% endif %}
    {%- endfor -%}
</div>
