---
layout: side_drawer.liquid
options: mdl highlight ext-links sponsor
theme: indigo-deep_purple
order: 0
icon: home
title: Welcome!
description: zuix.js web app home page
keywords:
- zuix
- web starter
- web app
- home
---

{% include 'web_starter_info.liquid' %}

<!-- sections and articles list -->

{% assign sections = collections.sections | sort: 'data.order' %}
{%- for section in sections -%}
{%- if section.url != page.url -%}
<div layout="column top-left">
    <a href="{{ section.url | url }}" title="{{ section.data.title }} section"><h2 style="margin-top: 48px!important;">{{ section.data.title }}</h2></a>

    {% assign group = section.data.group %}
    {% include "layouts/side_drawer/items-list.liquid" %}

</div>
{%- endif -%}
{% endfor %}
